html {
  height: 100%;
  margin: 0;
}

.background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Make sure the wrapper is below other content */
}

.background-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/cmid_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/cmid_landscape.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none; /* Allow interactions with elements below the overlay image */
}

body {
  margin: 0;
}

div,
span {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

input:-internal-autofill-selected {
  background-color: #37374f !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.mainWrapper {
  background-color: #272735;
  width: 100%;
  height: 100%;
  min-width: 375px;
  min-height: 100vh;
}

@media only screen and (min-width: 600px) {
  .mainWrapper {
    position: relative;
    height: 100%;
    width: 560px;
    min-width: 560px;
  }
}

.my-text-input {
  margin-top: 8px;
}

a:link {
  color: #ca4ae8;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ca4ae8;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ca4ae8;
  background-color: transparent;
}

a:active {
  color: #ca4ae8;
  background-color: transparent;
}

.custom-switch {
  position: relative;
  width: 42px;
  height: 24px;
}

.custom-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-switch input:checked + span {
  background-color: #2196f3;
}

.custom-switch input:focus + span {
  box-shadow: 0 0 1px #2196f3;
}

.custom-switch span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.2s;
}

.custom-switch span:before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

.custom-switch input:checked + span:before {
  transform: translateX(18px);
}

/* Rounded sliders */
.customSwitch {
  position: relative;
  width: 60px;
  height: 34px;
  display: inline-block;
}

.customSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.customSwitchSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.customSwitchSlider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .customSwitchSlider {
  background-color: #2196f3;
}

input:focus + .customSwitchSlider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .customSwitchSlider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.customSwitchSlider.round {
  border-radius: 34px;
}

.customSwitchSlider.round:before {
  border-radius: 50%;
}
