html {
  height: 100%;
  margin: 0;
  background-color: #1f1f2a;
}

/* Scrollbar styles */
html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #272735;
}

html::-webkit-scrollbar-thumb {
  background: #272735;
  border-radius: 4px;
}

.main-container {
  background: linear-gradient(180deg, rgba(29, 29, 40, 0.2) -23.39%, #1D1D28 50%);
  position: relative;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.main-container::-webkit-scrollbar {
  width: 3px;
  height: 9px;
  padding: 2px;
}

.main-container::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: transparent;
}

.main-container::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 4px;
}

.background-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Make sure the wrapper is below other content */
}

.background-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/cmid_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/images/cmid_landscape.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none; /* Allow interactions with elements below the overlay image */
}

body {
  margin: 0;
}

div,
span {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

input:-internal-autofill-selected {
  background-color: #37374f !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.mainWrapper {
  /* background-color: #272735; */
  width: 100%;
  height: 100%;
  min-width: 375px;
  min-height: 100vh;
}

@media only screen and (min-width: 600px) {
  .mainWrapper {
    position: relative;
    height: 100%;
    /* width: 560px; */
    min-width: 560px;
  }
}
@media only screen and (max-width: 450px) {
  .Toastify__toast-container {
    padding: 20px !important;
  }
  .Toastify__toast {
    border-radius: 8px !important;
  }
}

/* Mn567890 */

.my-text-input {
  margin-top: 8px;
}

a:link {
  color: #ca4ae8;
  background-color: transparent;
  text-decoration: none;
  padding: 5px;
}

a:visited {
  color: #ca4ae8;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #ca4ae8;
  background-color: transparent;
}

a:active {
  color: #ca4ae8;
  background-color: transparent;
}

.button:hover {
  filter: brightness(110%);
}
